{% extends "base.html" %}

{% block content %}
<h1 class="title has-text-centered">Field List Demo</h1>
<div class="container">
  <div class="columns">
    <div class="column is-one-third is-offset-4">
      <form method="post">
        {{ form.hidden_tag() }}
        <p>
        <div class="field">
          <label>{{ form.name.label }}</label>
          <div class="control">
            {{ form.name(class="input") }}
          </div>
        </div>
        </p>
        <div id="emails">
          {% for e in form.emails %}
          <div class="field">
            <label>{{ e.email.label }}</label>
            <div class="control">
              {{ e.email() }}
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="button is-success" hx-post="{{ url_for('form.demo_field_list_add_email') }}" hx-target="#emails" hx-swap="beforeend">Add Email</button>
      </form>

    </div>
  </div>
</div>
{% endblock %}