{% extends "base.html" %}

{% block content %}
<h1 class="title has-text-centered">Field List Demo</h1>
<div class="container">
  <div class="columns">
    <div class="column is-one-third is-offset-4">
        <div id="modal-here"></div>
        <button hx-get="{{ url_for('form.get_modal1_template') }}"
                class="button is-info" hx-target="#modal-here">Modal</button>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  document.addEventListener('htmx:beforeSend', function () {
    htmx.addClass('#submitButton', 'is-loading')
  })
  document.addEventListener('closeModal', function () {
    htmx.removeClass('#modal', 'is-active')
  })
</script>
{% endblock %}