<div id="modal" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal Title</p>
      <button type="button" id="cancelButton" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      Hey, this is a simple modal for you.
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="submitButton" hx-get="{{url_for('form.loading')}}">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>

<script>
  window.document.getElementById("cancelButton").addEventListener("click", function() {
	window.document.getElementById("modal").classList.remove("is-active")
})
</script>